<div>
    <app-tabs>
        <app-tab title="Timers">
            <app-timer *ngFor="let timer of timers;" init="{{timer}}"
                       (onComplete)="setIsEndTimerAlertVisible(true)"></app-timer>

            <button class="add" (click)="showAddTimer()">+</button>
        </app-tab>
        <app-tab title="Crono">
            Crono. Not available.
        </app-tab>
        <app-tab title="Alarm">
            Alarm. Not available.
        </app-tab>
    </app-tabs>

    <!--    dialogue to add new timers -->
    <app-alert-view [hidden]="!isAddTimerVisible">
        <div class="header">
            Add new timer
        </div>

        <label>Set the number of seconds for your timer</label>
        <input [(ngModel)]="time" type="number">

        <div class="footer-content">
            <button (click)="hideAddTimer()" class="cancel-button">Cancel</button>
            <button (click)="submitAddTimer(); hideAddTimer()">Ok</button>
        </div>

    </app-alert-view>

    <!--  end timer alert  -->
    <app-alert-view [hidden]="!isEndTimerAlertVisible">
        <div class="header">
            Timer Ended
        </div>

        <div>Your countdown has finished</div>

        <div class="footer-content">
            <button (click)="setIsEndTimerAlertVisible(false)">Ok</button>
        </div>

    </app-alert-view>
</div>
